
@define-color fg_color rgba(195, 183, 184, 1);
@define-color bg_color rgba(42, 36, 35, 0.9);
@define-color accent_color rgba(161, 189, 206, 1);
@define-color border_color rgba(255, 255, 255, 0.6);
@define-color slider_bg rgba(0,0,0, 1);